*{
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F3F1F5;

}
.open-button{
    box-shadow: rgba(99,99, 99,0.2) 0px 2px 8px 0px;
    background-color: #FCF0C8;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    border-radius: 20px;
}
.open-button img{
    height: 40px;
}
.chat-popup{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;

}
.form-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 300px;
    padding: 10px;
    background-color: #F3F1F5;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;

}
.form-container textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
    border-radius: 5px;
    margin-top: 20px;

}
.form-container textarea:focus{
    background-color: #ddd;
    outline: none;
}
.form-container .btn{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #61B15A;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 20px;

}
.form-container .cancel{
    background-color: red;
}
.form-container .btn:hover, .open-button:hover{
    opacity: 1;

}
.phm{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}